<footer class="footer footer-dark navbar-border navbar-fixed-bottom hidden-xs-down">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
        <span class="float-md-left d-xs-block d-md-inline-block">Copyright &copy; Cliente Agente - FBN Seguros 2017, Todos os direitos reservados. </span>
        <span class="float-md-right d-xs-block d-md-inline-block">Incandescente <i class="icon-fire orange"></i></span>
    </p>
</footer>